# Python
__pycache__/
*.py[cod]
*$py.class
venv/
venv_airflow/
.env
.env.local
.env.production

# Credenciales y Secretos (CRÍTICO - NUNCA SUBIR)
*.json
!package.json
!tsconfig.json
*.key
*.pem
*.p12
*.pfx
config/gcp-service-account.json
config/*.json
credentials/
secrets/

# Spark/Hadoop
spark-warehouse/
derby.log
metastore_db/

# Airflow
airflow.db
airflow.cfg
webserver_config.py
standalone_admin_password.txt
logs/
plugins/
airflow-webserver.pid
airflow-webserver.err
airflow-webserver.out
airflow-webserver.log
airflow-webserver-monitor.pid

# Datos (NUNCA SUBIR ESTO) - Especificamos la carpeta /data/
data/raw/
data/silver/
data/gold/
data/quarantine/
data/lake/
watermarks.json

# Referencias y otros
references/
.docker/

# OS
.DS_Store
Thumbs.db

