# Python
__pycache__/
*.py[cod]
*$py.class
venv/
venv_airflow/
.env

# Spark/Hadoop
spark-warehouse/
derby.log
metastore_db/

# Airflow
airflow.db
airflow.cfg
webserver_config.py
standalone_admin_password.txt
logs/
plugins/

# Datos (NUNCA SUBIR ESTO)
data/
raw/
silver/
gold/
quarantine/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db
references/
