version: '3.8'
services:
  postgres:
    image: postgres:13
    restart: always
    deploy:
      resources:
        limits:
          memory: 14000M
        reservations:
          memory: 4096M
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U airflow" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data

  airflow-setup:
    image: vmarinovich/spdp-data-platform:latest
    depends_on:
      - postgres
    deploy:
      resources:
        limits:
          memory: 512M
    volumes:
      - .:/opt/airflow
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
      # Nota: En Cloud usamos Identity Service Account, no archivo JSON
      - SLACK_WEBHOOK_URL=${SLACK_WEBHOOK_URL}
    entrypoint: >
      bash -c "airflow db init && airflow users create --username admin --firstname Vlad --lastname Marinovich --role Admin --email admin@spdp.com --password admin || true"

  airflow-scheduler:
    image: vmarinovich/spdp-data-platform:latest
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 10240M
        reservations:
          memory: 2048M
    volumes:
      - .:/opt/airflow
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__CORE__PARALLELISM=2
      - AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=2
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
      - SLACK_WEBHOOK_URL=${SLACK_WEBHOOK_URL}
      - ENV=cloud
      - SPARK_DRIVER_MEMORY=2g
      - SPARK_EXECUTOR_MEMORY=4g
    command: scheduler

  airflow-webserver:
    image: vmarinovich/spdp-data-platform:latest
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 2048M
        reservations:
          memory: 1024M
    volumes:
      - .:/opt/airflow
    ports:
      - "8080:8080"
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__WEBSERVER__SECRET_KEY=spdp_secret_key
      - AIRFLOW__WEBSERVER__WORKERS=2
      - AIRFLOW__WEBSERVER__WEB_SERVER_WORKER_TIMEOUT=600
      - AIRFLOW__CORE__DAGBAG_IMPORT_TIMEOUT=600
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
      - SLACK_WEBHOOK_URL=${SLACK_WEBHOOK_URL}
      - ENV=cloud
    command: webserver

volumes:
  postgres-db-volume:
